.screen-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
    margin-bottom: 16px;
    
}


.screen-header__title {
    font-size: 40px;
    font-weight: 600;
}


.screen-header__icons{
    position: relative;
}

.screen-header__icons span {
    margin-left: 25px;
}