.box {
    width: 200px;
    height: 200px;
    background-color: tomato ;
    color: aliceblue;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .box:first-child{
    margin-right: 25%;
}


.box:last-child{
    margin-left: 25%;
}  */

.father{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}






