body {
    text-align: center;
    margin-top: 200px;
}

.background{
    background-color: antiquewhite;
    padding: 20px 0px 40px 0px;
    border-radius: 100px;
}

button {
    margin-left: 20px;
    background-color: #fff;
    display: inline-block;
    border: none;
    padding: 20px;
    border-radius: 100px;

}
p{
    font-size: 48px;
    font-weight: 600;
}